*{
    box-sizing: border-box;
}
body{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
margin: 15px 30px;
font-size: 20px;
padding: 10px;
border: darkblue;
display: inline-block;
border: 2px solid black;
background-color: rgb(103, 145, 146);

}
div.a1,div.a3,div.a5
{
    background-color: rgb(114, 64, 161);
    border: 2px solid rgb(129, 63, 129);
    border-radius: 5px;

}
div.a2,div.a4,div.a6
{
    background-color:rgb(92, 121, 64);
    border: 2px solid rgb(55, 128, 55);
    border-radius: 5px;

}
div.a7{
    background-color: rgb(168, 69, 168);
    text-align: center;
    border: 2px solid rgb(141, 44, 141);
    border-radius: 5px;
}
input{
    background-color:indianred;
}