
.a1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(241, 8, 8);
}
    .a1 img{
     width: 1000px;
     height: 450px;
}
.a2{

font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
color:green;
text-align: justify;


}